{% extends "email_base.html.jinja" %}
{% block status %} 

    <td  data-label="Batch status" > 
     <span class="badge bg-success">{{result.url}}</span>
    </td>

    <td  data-label="Batch status" >
      <span class="badge bg-success">{{result.date}}</span>
    </td>

    <td  data-label="Batch status" >
      <span class="badge bg-success">{{status.msg}}</span>
    </td>
{% endblock %}