# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
[defaults]
inventory= /home/mohamed/proyecto/anisble/hosts
roles_path = /home/mohamed/proyecto/anisble/roles
host_key_checking = False
private_key_file= ~/.ssh/id_rsa
retry_files_save_path = ~/.ansible/retry-files
ssh_args = -o ControlMaster= auto -o ControlPersist=60s
become = True
become_method = su






# /var/lib/jenkins/workspace/job_ansible/ansible/playbook/roles:/var/lib/jenkins/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:/var/lib/jenkins/workspace/job_ansible/ansible/playbook